{% block product_launch_list_page %}
    <sw-page class="product-launch-list">
        {#Cron Button#}
        <template slot="content" >
            <sw-card class="sw-settings-shipping-detail__condition_container">
                <div class="collection-container">
                    <div style="width:100%;"><h1>{{ $t('product-launch.list.importProductBtnTitle') }}</h1></div>
                    <sw-button variant="primary" @click="releaseProduct">
                        {{ $t('product-launch.list.ProductImportCronBtnLabel') }}
                    </sw-button>
                </div>
            </sw-card>
        </template>
    </sw-page>
{% endblock %}
